@font-face {
  font-family: "Product Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"),
    url("/fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Product Sans Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Regular"),
    url("/fonts/ProductSans-Light.woff") format("woff");
}
