@import "root";

.input {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  label {
    @include ArvoFont(400, normal);
    font-size: 1.5rem;
    color: $color-text;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }

  .inputBox {
    padding: 1rem 1rem;
    width: 100%;
    border: 0.1rem solid $color-primary;
    border-radius: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    input {
      all: unset;
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      @include ArvoFont(400, normal);
      font-size: 1.5rem;

      &::placeholder {
        color: $color-primary;
        @include ArvoFont(400, normal);
        font-size: 1.5rem;
      }
    }

    .icon {
      span {
        font-size: 2rem;
        color: $color-primary;
      }

      &.showPss {
        cursor: pointer;
        opacity: 0;
      }
    }
    &:hover {
      .icon.showPss {
        opacity: 1;
      }
    }
  }

  &:has(input:focus) {
    .icon {
      span {
        color: #0988bb;
      }
      &.showPss {
        opacity: 1;
      }
    }
  }
}
