// text note component

@import "root";

.textArea {
  width: 60rem;
  height: auto;

  textarea {
    width: 100%;
    min-height: 3rem;
    border: none;
    outline: none;
    padding-left: 1.8rem;
    padding-right: 1.8rem;

    color: $color-text;
    background-color: $color-bg;

    resize: none;
    overflow: auto;

    &::placeholder {
      color: $color-primary;
    }
    @include robotoFont(1.6rem, 400);
  }
}
